body {
    margin: 0;
    text-align: center;
    font-family: "Supermercado One";
}
h1 {
    font-size: 450%;
}
h2{
    font-size:200%
}
h3, h4 {
    padding-left: 40px;
}

.lone-gallery > a {
    text-decoration: none;
    color:#DCB823
}

.contentContainer {
    margin-top: 100px;
    text-align: left;
}

.piggy {
    text-align: center;
    position: relative;
    animation-name: move-piggy;
    animation-timing-function: ease-in;
    animation-duration: 6s;
}

@keyframes move-piggy {
    0% {
        left: 0px;
    }

    25% {
        left: -200px;
    }

    50% {
        left: 0px;
    }

    75% {
        left: -200px;
    }

    100% {
        left: 0px;
    }
}

.navigations {
    list-style-type: none;
    padding: 8px;
    margin: 0;
    background-color: #2347DC;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;

}

.navigation > a {
    color: #DCB823;
    padding: 12px;
    display: inline-block;
    font-size: x-large;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.navigation > a:hover {
    background-color: #DC23A4;
    width:max-content;
}
.footLayout {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;

}
.footLayout > h3 {
    margin: 5px;
}

footer {
    background-color:#2347DC;
    color: #DCB823;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.copyright {
    font-size: 70%;
}
.main {
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    min-height: 500px;
}
.main > h2 {
    padding-top: 20px;
    border-top:solid 3px #DCB823;
}
.hours {
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
    border-bottom: solid 3px #DCB823;
}
.galleryCont {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    align-items: flex-start;
    flex-wrap: wrap;
    object-fit: cover;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.galleryCont > img {
    flex-grow: 1;
    max-height: 300px;
    object-fit: cover;
    margin: 2px;
}
.external-links {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.actual-links {
    border-radius: 20%;
    display: inline-block;
}
.soc-media {
    height: 40px;
    margin: 5px;
    border-radius: 25%;
}