body {
    margin: 0;
    font-family: "Supermercado One";
}

h1 {
    font-size: 450%;
}
h2{
    font-size:200%
}
  header > h1 {
    margin: 0;
  }
  
  nav {
    background-color:#2347DC;
  }
  
  .navigations {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .navigation > a {
    color:#DCB823;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  .navigation > a:hover {
    background-color: #DC23A4;;  
  }
  
  #burgerButton {
    display: none;
  }
  
  @media (max-width: 600px) {
    #burgerButton {
      display: inline;
    }
  
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color:#2347DC;
      color: #DCB823;
      padding: 10px;
      position: sticky;
      top: 0;
    }
    h2 {
        display: none;
    }
  
    nav {
      display: none;
    }
  
    nav.open {
      display: block;
      position: absolute;
      top: 100%;
      right: 0;
    }
  
    .navlinks {
      flex-direction: column;
    }
  }